<h1>Square Root Results </h1>
<h4>Number</h4>
<%=@user_number%>
<h4>Square Root</h4>
<%=@square_root%>

<div class = "padding-inside-top-md">
<a href="/square_root/new">
 Calculate another square root
</a>
</div>
